body{
    background-color: #050505;
    color: white;
    font-family: 'Open sans';
    margin: 0px;
    padding: 0px;
}

header{
    background-color: #121212;
    width: 100vw;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
header h1, header a{
    color: white;
    text-decoration: none;
}

.headermenu{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f1f1f;
    border-radius: 0px 0px 16px 16px;
    color: white;
}

.headermenu ul{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 8px;
    margin: 0px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
}

.headermenu ul li{
    margin: auto 4px;
}

.headermenu ul li a{
    text-decoration: none;
    color: white;
}

.separator{
    height: 40px;
    font-size: 150%;
}

.button1{
    background-color: #1f1f1f;
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 150%;
    margin-top: 8px;
    border-radius: 8px;
    transition-duration: 0.2s;
    transition-property: font-size, background-color;
    cursor: pointer;
}

main{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.button1:hover{
    font-size: 153%;
    background-color: #2c2c2c;
}

#newticketform{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    border-radius: 8px;
    padding: 16px;
    margin: 8px;
}

#newticketform label{
    margin: 4px;
    font-size: 150%;
}

#newticketform input, #newticketform textarea{
    margin: 4px;
    font-size: 150%;
    border-radius: 8px;
    padding: 8px;
    border: none;
    background-color: #1f1f1f;
    color: white;
    margin-bottom: 16px;
    resize: none;
    width: 95%;
}

#newticketform textarea{
    height: 100px;
}

#lookupForm{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    border-radius: 8px;
    padding: 16px;
    margin: 8px;
}

#lookupForm label{
    margin: 4px;
    font-size: 150%;
}

#lookupForm input{
    margin: 4px;
    font-size: 150%;
    border-radius: 8px;
    padding: 8px;
    border: none;
    background-color: #1f1f1f;
    color: white;
    margin-bottom: 16px;
    resize: none;
    width: 95%;
}

#ticketInfo{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    border-radius: 8px;
    margin: 8px;
}

#ticketInfo p, #ticketInfo h2{
    padding: 8px 16px;
    margin: 0px;
}

@font-face {
    font-family: 'Open sans';
    src: url(/src/font/OpenSans-Regular.ttf);
}